<!DOCTYPE html>
<html>
<head>
    <title>Invoice #{{ order.id }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body{
            background:#050816;
            color:white;
            padding:30px;
        }
        .card{
            background:#111827;
            border:1px solid #1e293b;
            padding:20px;
            border-radius:15px;
        }
    </style>
</head>
<body>

<div class="card">

    <h2>🧾 TechBazaar Invoice</h2>
    <hr>

    <p><strong>Order ID:</strong> #{{ order.id }}</p>
    <p><strong>Name:</strong> {{ order.full_name }}</p>
    <p><strong>Phone:</strong> {{ order.phone }}</p>
    <p><strong>Address:</strong> {{ order.address }}</p>
    <p><strong>City:</strong> {{ order.city }}</p>

    <hr>

    <p><strong>Product:</strong> {{ order.product_name }}</p>
    <p><strong>Total:</strong> ₹{{ order.total_price }}</p>
    <p><strong>Payment:</strong> {{ order.payment_method }}</p>

    <hr>

    <h5 class="text-success">✔ Thank you for shopping with TechBazaar</h5>

</div>

</body>
</html>
