<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Orders - TechBazaar</title>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
    body{
        background:#050816;
        color:white;
    }

    .card{
        background:#111827;
        border:1px solid #1e293b;
        color:white;
        border-radius:15px;
    }

    .navbar{
        background:#000 !important;
        border-bottom:2px solid #0d6efd;
    }

    footer{
        background:#000;
        border-top:2px solid #0d6efd;
    }
</style>


</head>
<body>

<nav class="navbar navbar-dark">
    <div class="container">
        <a class="navbar-brand fw-bold fs-3" href="/">
            TechBazaar
        </a>
    </div>
</nav>

<div class="container mt-5">


<h1 class="text-center mb-4">📦 My Orders</h1>

{% for order in orders %}

<div class="card p-4 mb-4 shadow">

    <h4>Order #{{ order.id }}</h4>

    <hr>

    <h5 class="text-primary">🛍 Products Ordered</h5>

    <p class="mb-3">
    {{ order.product_name }}
    </p>

    <p><strong>Name:</strong> {{ order.full_name }}</p>

    <p><strong>Total:</strong> ₹{{ order.total_price }}</p>

    <p><strong>Payment:</strong> {{ order.payment_method }}</p>

    <p><strong>Ordered On:</strong> {{ order.order_date }}</p>

    <p><strong>Delivery Date:</strong> {{ order.delivery_date }}</p>

    <p>
        <strong>Status:</strong>

       {% if order.status == "Processing" %}
    <span class="badge bg-warning text-dark">
        Processing
    </span>

{% elif order.status == "Shipped" %}
    <span class="badge bg-info">
        Shipped
    </span>

{% elif order.status == "Delivered" %}
    <span class="badge bg-success">
        Delivered
    </span>

{% else %}
    <span class="badge bg-secondary">
        {{ order.status }}
    </span>
{% endif %}
    </p>

</div>

{% empty %}

<div class="alert alert-warning">
    You have not placed any orders yet.
</div>

{% endfor %}


</div>

<footer class="text-center text-white p-3 mt-5">
    <p>&copy; 2026 TechBazaar. All Rights Reserved.</p>
</footer>

</body>
</html>